/* Importando fonte para título */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.principal {
  height: 100%;
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  max-width: 60em;
}

/* Estilizando texto */
.principal p{
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  margin-left: 0em;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 1.0em;
  
}

/* Estilizando título */
.principal h1 {
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-size: 2rem;
   font-weight: 500;
   color: #2b2728;
   text-align: center;
   margin: 1.5em 0;
   position: relative;
   text-transform: uppercase;
 }

.texto {
  margin-bottom: 1.5em;
  text-align: justify;
  margin-left: 3em;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em; 
}
.segundotxt {
  margin-bottom: 1.5em;
  text-align: justify;
  margin-left: 3em;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
}

.catalog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: justify;
}

.wine {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.wine img {
  max-width: 100%;
}

.wine h2 {
  margin-top: 10px;
}


.titulo {
  font-size: rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 1.3em 0;
  text-transform: uppercase;
  position: relative;
}

  /* Estilo de destaque para o título */
  h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 0.1em;
    background-color: #a02348;  /* Cor do destaque */
    margin: 0 auto;
    position: absolute;
    left: 25%; /* Posicionamento central do destaque */
    bottom: -0.3em; /* Ajuste a posição do destaque abaixo do título */
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
  }

  footer {
    margin-top: 80em;
  }