.form01 {
    text-align: center;
    margin: 2em auto;
    padding: 1em;
    max-width: 400px;
    background: linear-gradient(to right, #f39c12, #e74c3c);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 18em;
    width: auto;
    margin-top: 15%;
  }
  
  .form01 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
 
  
.form01 label {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.7em;
    font-size: 1.5em;
    width: 120px; 
    display: inline-block; 
   
}

  
  .form01 input {
    padding: 0.5em;
    margin: 0.2em 0;
    border: none;
    border-radius: 5px;
    height:auto;
    width: 16em;  
    margin-bottom: 1.4em;
 }
  
  
  .form01 input[type="submit"] {
    background-color: #333;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 3em;
  }
  
  .form01 input[type="submit"]:hover {
    background-color: #555;
  }

  body {
    background-color: rgb(230, 226, 226);
  }
  

  footer {
    margin-top: 15em;
  }
