.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 3em;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    font-size: 0.85rem;
    font-weight: bold; 
    color: #333; 
    text-align: center; 
    text-decoration: none; 
    
    background-color: #e29312; 
    padding: 10px 20px; 
    margin: 10px; 
    border-radius: 5px; 
    transition: background-color 0.2s ease, color 0.2s ease;
}

.menu a:hover {
        background-color: #e74c3c; 
        color: white; 
        transform: scale(1.05)
}

.user-menu a {
    font-size: 0.8rem; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte (negrito) */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    text-decoration: none; /* Removendo sublinhado padrão */
    background-color: #f39c12; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 10px; /* Espaçamento entre os botões */
    border-radius: 5px; /* Borda arredondada */
    transition: 0.3s, color 0.3s; /* Transições suaves */
}

.user-menu a:hover {
background-color: #e74c3c; 
        color: white; 
        transform: scale(1.05)
}

.user-menu ul {
    list-style: none;
    display: flex;
}

.user-menu li {
    margin: 0 10px;
}

/* RESPONSIVO */

@media (max-width: 1200px) {
    .header {
        flex-direction: column;
    }

    .menu ul, .user-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li, .user-menu li {
        margin: 5px 0;
    }

    .menu a {
        margin: 0.2em 0 0 0;
    }

    .user-menu a{
        margin: 0.2em 0;
    }
}
/* CSS PADRÃO PARA TODAS AS PAGINAS */