html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    color: #363636;
}

body {
    background-image: url('../imagens/Logo-Recycle.jpg');
    background-position: center 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 1125px;
    margin: auto;
}

.imagemLogo {
    width: 75px;
    height: 75px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 5px;
    margin: 0 10px;
    border: .5px solid #4f4f4f;
    border-radius: 10%;
}

nav a {
    text-decoration: none;
    color: #4f4f4f;
}

.primeiraSessao {
    text-align: center;
    padding: 150px 0px 0px;
    margin: auto;
    width: 900px;
    height: 400px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    text-align: center;
    border-top: 1px solid grey;
    box-sizing: border-box;
    font-size: 12px;
    color: grey;
}

footer > p {
    align-items: center;
    padding-top: 10px;
}