.principal {
    height: 100%;
    width: 100%;
    padding: 1em 0 1em 0;
    margin: 0 auto;
    max-width: 60em;   
}
 
.principal p{
 
   margin-bottom: 1.5em;
   text-align: justify;
   margin-left: 0em;
   font-family: 'Helvetica', Arial, sans-serif;
   font-size: 0.95em;
   line-height: 1.5;
}

/* Estilizando título */
h1 {
    font-size: 2rem; /* Tamanho menor para títulos */
    font-weight: bold;
    color: #black; /* Cor do texto */
    text-align: center;
    margin: 1.3em 0;
    position: relative;
    text-transform: uppercase;
  }
  
  /* Estilo de destaque para o título */
  h1::after {
    content: "";
    display: block;
    width: 50%;
    height: 0.1em;
    background-color: #a02348;  /* Cor do destaque */
    margin: 0 auto;
    position: absolute;
    left: 25%; /* Posicionamento central do destaque */
    bottom: -0.3em; /* Ajuste a posição do destaque abaixo do título */
  }
  
  .foto img {
    max-width: 100%; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção original da imagem */
    display: block; /* Remove margens laterais */
    margin: 0 auto; /* Centraliza horizontalmente a imagem */ 
}
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  footer {
    margin-top: 40em;
  }

  