html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    position: relative;
}

.headerContent {
    display: flex;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 0.5em;
    
    bottom: 0;
    width: 100%;
}

nav {
    width: auto;
    margin: 0 auto;
}

.menu { 
    background-color: #000;
    color: #fff;
    padding: 1em;
    font-size: 1em;
    margin: 0 auto;
}

.menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 1em;
}

.menu li {
    display: inline;
    padding: 0 0.5em 0 0.5em;
    border-radius: 10px;
}

.menu a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background-color: blue;
    border-radius: 10px;
    padding: 0.3em;
}

.menu a:hover {
    background-color: #fff;
    color: #000;
}

.ativo{
    background-color: #fff;
    color: #000;
}

.headerContent img{
    width: 3em;
    height: 3em;
    margin-left: 3em;
    position: absolute;
}

/* CSS PADRÃO PARA TODAS AS PAGINAS */

.principal {
    margin: 0 auto;
    max-width: 60em;
}