img {
    max-width: 100%; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção original da imagem */
    display: block; /* Remove margens laterais */
    margin: 200px auto; /* Centraliza horizontalmente a imagem */ 
}
  
body {
    background-image: linear-gradient(to bottom, #ffefdb, #a02348);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

footer {
    margin-top: 40em;
  }

